{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static "registration/images/icons/favicon.ico" %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "registration/fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "registration/fonts/iconic/css/material-design-iconic-font.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/vendor/animate/animate.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/vendor/css-hamburgers/hamburgers.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/vendor/animsition/css/animsition.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static "registration/vendor/daterangepicker/daterangepicker.css" %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static "registration/css/util.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "registration/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "registration/css/rtl.css" %}">
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url({% static 'registration/images/bg-01.jpg' %});">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">{% csrf_token %}
                <span class="login100-form-title p-b-34 p-t-27 my-font">
						{% block head %}{% endblock %}
					</span>
                {% block input %}

                {% endblock %}
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{% static "registration/vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/vendor/animsition/js/animsition.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/vendor/bootstrap/js/popper.js" %}"></script>
<script src="{% static "registration/vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/vendor/daterangepicker/moment.min.js" %}"></script>
<script src="{% static "registration/vendor/daterangepicker/daterangepicker.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/vendor/countdowntime/countdowntime.js" %}"></script>
<!--===============================================================================================-->
<script src="{% static "registration/js/main.js" %}"></script>

</body>
</html>