{% extends 'registration/base_form.html' %}
{% load widget_tweaks %}
{% block title %}{% block head %}
    فراموشی گذرواژه
{% endblock %}{% endblock %}
{% block input %}
    <div class="wrap-input100 validate-input">
        {% render_field form.email class="input100 my-font" placeholder="ایمیل" %}
    </div>
    {% if form.email.errors %}
        <div class="alert alert-primary fs-15">
            {{ form.email.errors }}
        </div>
    {% endif %}
    <div class="container-login100-form-btn p-t-20">
        <button class="login100-form-btn my-font">
            ارسال
        </button>
    </div>
{% endblock %}