{% extends "registration/base_template.html" %}
{% block title %}فراموشی گذرواژه{% endblock %}
{% block h2 %}تقاضای ریست رمز فرستاده شد{% endblock %}
{% block message %}
    <p>دستورالعمل تنظیم گذرواژه را برایتان ایمیل کردیم. اگر با ایمیلی که وارد کردید اکانتی وجود داشته باشد باید به زودی
        این دستورالعمل‌ها را دریافت کنید.

        اگر ایمیلی دریافت نمی‌کنید، لطفاً بررسی کنید که آدرسی که وارد کرده‌اید همان است که با آن ثبت نام کرده‌اید، و
        پوشهٔ اسپم خود را نیز چک کنید.
    </p>
    <a href="{% url 'accounts:login' %}">بازگشت به صفحه ورود</a>
{% endblock %}