{% extends "registration/base_form.html" %}
{% load widget_tweaks %}
{% block title %}{% block head %}
    تایید گذرواژه جدید
{% endblock %}{% endblock %}
{% block input %}
    {% if validlink %}
        <div class="wrap-input100 validate-input">
            {% render_field form.new_password1 class="input100 my-font" type="password" placeholder="گذرواژه جدید" %}
        </div>

        {% if form.new_password1.errors %}
            <div class="alert alert-primary fs-15">
                {{ form.new_password1.errors }}
            </div>
        {% endif %}

        <div class="wrap-input100 validate-input">
            {% render_field form.new_password2 class="input100 my-font" type="password" placeholder="تایید گذرواژه" %}
        </div>

        {% if form.new_password2.errors %}
            <div class="alert alert-primary fs-15">
                {{ form.new_password2.errors }}
            </div>
        {% endif %}

        <div class="container-login100-form-btn p-t-20">
            <button class="login100-form-btn my-font">
                تغییر گذرواژه
            </button>
        </div>
    {% else %}
        <div class="text-center fs-20 text-white p-t-20">
            این لینک منقضی شده است.
        </div>
    {% endif %}
{% endblock %}