{% extends "registration/base_form.html" %}
{% load widget_tweaks %}
{% block title %}{% block head %}
    تغییر گذرواژه
{% endblock %}{% endblock %}
{% block input %}
    <div class="wrap-input100 validate-input">
        {% render_field form.old_password class="input100 my-font" type="password" placeholder="گذرواژه فعلی" %}
    </div>
    {% if form.old_password.errors %}
        <div class="alert alert-primary fs-15">
            {{ form.old_password.errors }}
        </div>
    {% endif %}
    <div class="wrap-input100 validate-input">
        {% render_field form.new_password1 class="input100 my-font" type="password" placeholder="گذرواژه جدید" %}
    </div>
    <div class="alert fs-13">{{ form.new_password1.help_text|safe }}</div>
    {% if form.new_password1.errors %}
        <div class="alert alert-primary fs-15">
            {{ form.new_password1.errors }}
        </div>
    {% endif %}
    <div class="wrap-input100 validate-input">
        {% render_field form.new_password2 class="input100 my-font" type="password" placeholder="تایید گذرواژه" %}
    </div>
    {% if form.new_password2.errors %}
        <div class="alert alert-primary fs-15">
            {{ form.new_password2.errors }}
        </div>
    {% endif %}
    <div class="container-login100-form-btn p-t-20">
        <button class="login100-form-btn my-font">
            تغییر گذرواژه
        </button>
    </div>
{% endblock %}
